* {
  font-family: Montserrat, Helvetica, sans-serif;
}

.brand{
    display: flex;
    align-items: center;
    
}

.brand h5 {
  color: #e6e6e6;
  display: inline-block;
  padding-left: 15px;
  font-weight: bold;
}
.brand img {
  width: 35px;
  display: inline-block;
}
